$cWhite: white;
$cblack: black;
#container{
    text-align: center;
}
.btn{
    background-color: $cWhite;
    color: $cblack;
    border: 2px solid $cblack;
    padding: 25px 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 2s;

    &.float{//&親の要素を参照
        &:hover{
            box-shadow: 0 0 10px $cblack;

        }

    }

    // &:hover{//scss特有の書き方「ネスト、ネスティング」
    //     background-color: $cblack;
    //     color: $cWhite
    // }
    

    

}